<li class="list-group-item">
    <div style="width:20px;height:20px;background-color:red;" 
       *ngIf="appareilStatusPersonnalise === 'éteint'"></div>
  <!-- String interpolation 
  getStatus()  Ce qui se trouve entre les doubles accolades correspond à l'expression TypeScript
  des variables ou des fonctions depuis de fichier ts
  -->
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Status : {{ appareilStatusPersonnalise }}</h4>

  <!-- Two-way binding  [(ngModel)]="appareilName" 
  La liaison à double sens il vous faut importer le module FormsModule pour l'utiliser
  Le two-way binding emploie le mélange des syntaxes de property binding et 
  d'event binding : des crochets et des parenthèses  [()]
  -->
  <input type="text" class="form-control" [(ngModel)]="appareilName">
</li>
