<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <!-- utilisation des pipes angular  -->
      <p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
      <ul class="list-group">
        <!-- Propriétés personnalisées
        on envoie une valeur au module app-appareil qui a déclaré 
        le décorateur ( @Input() appareilName ) 
        on peut passer une variable ou directement un string
        -->
        <app-appareil  *ngFor="let appareil of appareils"
        [appareilName]="appareil.name"
        [appareilStatusPersonnalise]="appareil.status">
        </app-appareil>
      </ul>

      <p>{{ toto }}</p>
      <!-- Property binding  
      [disabled]="!isAuth"  est une propriétés personnalisées
      dans la valeur est changer depuis  un component afin de pouvoir lui transmettre des données.
      -->
      <button class="btn btn-success" 
      [disabled]="!isAuth" 
      (click)="onAllumer()">Tout allumer
    </button>
    <!-- Event binding (click)="onAllumer() 
    Permet de réagir dans le code TypeScript aux événements venant du template HTML.
    -->
  </div>
</div>
